@charset "utf-8";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	margin: 0;
	background-color: #f9ede0;
}

footer {
	text-align: center;
}

footer p {
	color: black;
	font-size: 0.75em;
}

/*img {
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}*/

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  /*margin-bottom: 20px;*/
  /*margin-bottom: 70px;*/
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #b1744a;
}

.text {
	font-size: 0.7em;
	text-align: center;
}

.title {
	font-size: 1.3em;
	border: black 1px solid;
	padding: 15px;
}

header {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 20px;
}

.navigation ul {
	list-style: none;
	display: flex;
	/*flex-direction: row;*/
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
	/*display: none;*/
}


button {
	border: none;
	background-color: transparent;
	position: relative;
	float: right;
	display: inline-block;
	flex-direction: end;
}

.mobile-menu {
	font-family: 'IBM Plex Mono', monospace;
	cursor: pointer;
	font-size: 0.9em;
	margin-left: 50%;
}

.name-logo {
	margin-left: 37px;
}

/*menu styling*/


.menu {
	z-index: 10;
	display: block;
	left: 0;
	margin-top: 100px;
	margin-left: -300px;
	height: 100%;
	width: 100%;
	/*background-color: rgba(0,0,0, 0.2);*/
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.2);
}

.mobile-menu {
	z-index: 15;
	top: 0;
}


/* gallery grid */

.gallery-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}


/* media queries here */

@media screen and (min-width: 320px){

	.gallery-content img {
		/*max-width: 320px;*/
	}
}

@media screen and (min-width: 400px){
	.mobile-menu{
		margin-left: 60%;
	}
}

@media screen and (min-width: 500px){

	.mobile-menu {
		margin-left: 70%;
	}

	.image11 {
		width: 500px;
		margin: 0;
	}
}

@media screen and (min-width: 600px) {

/* remove mobile menu styling*/

 .menu {
 	display: block !important;
 	margin: 0;
 	display: flex;
 }

 .mobile-menu {
 	display: none;
 }

 .navigation ul {
 	display: flex;
 	flex-direction: row;
 	margin-top: 15px;
 	float: right;
 	margin-right: 22px;
 }


.gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.image01 {
  grid-column: auto / span 2;
  grid-row: 200px;
  /*grid-row: auto / span 3;*/
}

.image01 img {
  height: 100%;
  /*width: 100%;*/
  object-fit: cover;
}

.image02 {
  grid-row: 1fr;
  /*height: 350px;*/
  height: 100%;
  object-fit: cover;
}

.image03 {
	width: 500px;
	margin: 0 auto;

}

.image04 {
	width: 400px;
}

.image06 {
	width: 380px;
}

.first-text p {
	margin-left: 100px;
}



.image03 {
   /*grid-row: auto / span 1;*/
   grid-column: auto / span 3;
    grid-row: auto / span 3;
     /*width: 90%;*/
}

.image04 {
  grid-column: auto / span 2;
  /*object-fit: cover;*/
}

.image05 {
	height: 500px;
	object-fit: cover;
	margin-top: 122px;
}

.image06 {
	grid-column: auto / span 2;
}

.image07 {
	/*grid-column: auto/ span 2;*/
	/*grid-column: auto/span 1;*/
	width: 100%;
	height: 100%;
	margin: 0;
}

.image08 {
	grid-row: auto;
}

.image09 {
	grid-row: auto / span 1;
/*	width: 600px;
	height: 350px;*/

}

.image10 {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
	margin-left: 40%;
}

.image11 {
  grid-column: auto / span 3;
  object-fit: cover;
}

.image12 {
	grid-column: auto / span 2;
}

.image13 {
	margin-top: 200px;
}

.image14 {
	width: 500px;
	height: 300px;
	object-fit: cover;
}

.image17 {
	object-fit: cover;
	height: 300px;
}

.image18 {
	object-fit: cover;
	height: 300px;
}

.image19 {
	grid-column: auto / span 2;
	width: 70%;
}

.image22 {
	grid-column: auto / span 1;
	height: 500px;
	object-fit: cover;
	/*margin-left: 235px;*/
	/*width: 70%;*/
	/*width: 500px;*/
}

.image23 {
	height: 500px;
/*	width: 300px;*/
	grid-column: auto / span 3;
	object-fit: cover;
	float: left;
	margin: 0;
}

.image24 {
	grid-column: auto / span 1;
	float: right;
	margin: 0;
}

.image25 {
	grid-column: auto / span 2;
	height: 500px;
	width: 630px;
	object-fit: cover;
}

.image26 {
	grid-column: auto / span 2;

}

.image29 {
	grid-column: auto / span 2;
}

.image30 {
	height: 300px;
	width: 300px;
	object-fit: cover;
}

.image31 {
	grid-column: auto / span 2;
	width: 640px;
	height: 300px;
	object-fit: cover;
	margin: 0;
}

.text {
  /*margin-left: 25px;*/
  text-align: left;
  margin: 0;
  /*margin-right: 100px;*/
  width: 250px;
}


/* FILM GALLERY CSS*/

.title {
	grid-column: auto / span 3;
	font-size: 1em;
	border: black 1px solid;
	padding: 15px;
	margin: 10px 190px 10px 190px;
}

.film-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
  grid-gap: 10px;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}


.film01 {
	grid-column: auto / span 2;
}

.film02 {
	grid-column: auto / span 2;
	height: 500px;
	grid-row: auto / span 2;
	object-fit: cover;
}

.film05 {
	grid-column: auto / span 3;
	grid-row: auto / span 3;
}

.film07 {
	height: 311px;
}

.film08 {
	grid-column: auto / span 4;
	grid-row: auto / span 4;
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.film11 {
	grid-column: auto / span 3;
	grid-row: auto / span 3;
}

.film12 {
	height: 310px;
}

.film13 {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
	height: 640px;
	object-fit: cover;
}

.film14 {
	grid-column: auto / span 2;
	/*grid-row: auto / span 2;*/
}

.film15 {
	height: 310px;
}

.film17 {
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.film18 {
	grid-column: auto / span 2;
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.film19 {
	height: 300px;
	width: 100%;
	object-fit: cover;
}




}


@media screen and (min-width: 1000px) {

.gallery-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


.name-logo {
	margin-left: 100px;
}

.navigation {
	margin-right: 100px;
}

.text {
	/*margin-left: 60px;*/
}

.image07 {
	grid-column: auto/ span 2;
	width: 400px;
}

.image10 {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
	width: 400px;
	/*margin-left: 500px;*/
}

}




















