@charset "utf-8";

html {
  box-sizing: border-box;
/*  padding: 0;
  margin: 0;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	margin: 0;
	/*background-color: #f6e6d5;*/
	background-color: #f9ede0;
	-webkit-animation: fadein 3s;
  	-moz-animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 20px;
}

footer {
	margin-top: 30px;
	text-align: center;
}

footer p {
	color: black;
	font-size: 0.75em;
}

img {
	width: 80%;
	display: block;
	margin: 0 auto;
}


/*temporary insta trial*/

h3 { 
	width: 83%; 
/*text-align:center; */
	border-bottom: 1px solid #000; 
	line-height:0.1em; 
	margin: 200px 0 50px; 
	margin-left: 7%;
} 

h3 span { 
	background: #f9ede0;
	padding:0 10px; 
}

.insta img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	margin: 0 auto;
}

.insta {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

}


/*end of temp insta*/

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #b1744a;
}


header {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 20px;
}

.navigation ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
}


button {
	border: none;
	background-color: transparent;
	position: relative;
	float: right;
	display: inline-block;
	flex-direction: end;
}

.mobile-menu {
	font-family: 'IBM Plex Mono', monospace;
	cursor: pointer;
	font-size: 0.9em;
	margin-left: 50%;
}


.name-logo {
	margin-left: 37px;
}


/*menu styling*/

.menu {
	z-index: 10;
	display: block;
	left: 0;
	margin-top: 100px;
	margin-left: -300px;
	height: 100%;
	width: 100%;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.2);
}

.mobile-menu {
	z-index: 15;
	top: 0;
}


.intro {
	margin-left: 10%;
	margin-top: 58%;
	position: absolute;
	font-size: 0.65em;
	/*background-color: #f9ede0;*/
	/*color: aliceblue;*/
	/*color: #d2cdc6;*/
	/*color: #a86404;*/
}

.intro p {
	font-size: 1.5em;
	color: black;
	/*color: pink;*/
	/*color: #a86404;*/
	/*color: #ecd0b3;*/
	/*text-shadow: black 1px 1px;*/

}

.japanese-intro {
	display: none;
}


/*media queries*/

@media screen and (min-width: 370px){
 

 }

 @media screen and (min-width: 400px){

.mobile-menu {
 margin-left: 58%;
}

}

@media screen and (min-width: 500px){

	.menu {
		display: block !important;
		margin: 0;
		display: flex;
	}
	
	.mobile-menu {
		display: none;
	}

	.navigation ul {
		display: flex;
		flex-direction: row;
		margin-top: 15px;
		float: right;
		margin-right: 37px;
	}

}

 @media screen and (min-width: 800px){
 
 img {
 	width: 600px;
 }

 footer {
 	margin-top: 80px;
 }

 .intro {
 	margin-top: 49%;
 	margin-left: 15%;
 }

 h3 {
 	margin-left: 50px;
 	margin-top: 20%;
 }

 .insta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: auto;

}

 }

 @media screen and (min-width: 850px){

	img {
		margin-top: 60px;
	}

 	.intro {
 		margin-top: 48%;
 		margin-left: 165px;
 	}

 	h3 {
 		margin-top: 150px;
 		margin-left: 60px;
 	}

 }


 @media screen and (min-width: 1000px){

 	img {
 		margin-top: 40px;
 	}

 	.name-logo {
 		margin-left: 100px;
 	}

 	.navigation {
 		margin-right: 100px;
 	}

 	.intro {
 		margin-top: 33%;
 		margin-left: 340px;
 	}

 	.japanese-intro {
 		display: block;
 		position: relative;
 		float: right;
 		margin-right: 290px;
 		top: -300px;
 	}

 	.insta {
 		justify-content: auto;
 		display: grid;
  		grid-template-columns: 1fr 1fr 1fr;
  		grid-gap: 15px;
 	}


 	h3 {
 		margin-top: 15%;
 		width: 860px;
 		margin-left: 190px;
 	}
 
 }














