@charset "utf-8";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	margin: 0;
	/*background-color: #f6e6d5;*/
	background-color: #f9ede0;
}

footer {

	text-align: center;
}

footer p {
	color: black;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	font-size: 0.85em;
}

img {
	width: 80%;
	display: block;
	/*float: right;*/
	/*margin-right: 30px;*/
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #b1744a;
}

header {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 20px;
}

.navigation ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
	display: none;
}

button {
	border: none;
	background-color: transparent;
	position: relative;
	float: right;
	display: inline-block;
	flex-direction: end;
}

.mobile-menu {
	font-family: 'IBM Plex Mono', monospace;
	cursor: pointer;
	font-size: 0.9em;
	margin-left: 50%;
}

.name-logo {
	margin-left: 37px;
}

.intro {
	margin-left: 40px;
	margin-top: 200px;
	position: absolute;
	/*background-color: #f9ede0;*/
	/*color: aliceblue;*/
	/*color: #d2cdc6;*/
	/*color: #a86404;*/
}

.intro p {
	font-size: 0.8em;
	color: #ecd0b3;
	text-shadow: black 0.5px 0.5px;

}

.japanese-intro {
	font-size: 1.5em;
	float: right;
	position: absolute;
	right: 45px;
	margin-top: 150px;
	margin-bottom: 50px;
}

.japanese-intro p {
	margin: 2px 0 10px 0;
}














