@charset "utf-8";

html {
  box-sizing: border-box;
/*  padding: 0;
  margin: 0;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	background-image: url("../images/splash.png");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

footer {
	text-align: center;
	position: relative;
}

footer p {
	color: white;
	padding-top: 50px;
	font-size: 0.75em;
}

img {
	width: 100%;
}

.content {
	margin: 0 auto;
	vertical-align: middle;
	position: relative;

}

.name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 53%;
	margin: 0 auto;
	position: relative;
}

.name p {
	padding: 0;
	margin: 15px;
	color: white;
}

.first-name {
	font-size: 1.2em;
	text-shadow: 1px 1px black;
}

.last-name {
	margin-top: 20%;
	font-size: 1.2em;
	text-shadow: 1px 1px black;
}

.enter {
	text-align: center;
	/*margin-top: 150px;*/
	/*margin-top: 300px;*/
}

.enter p {
	margin-top: 30px;
}

.enter a {
	border: #b1744a 1px solid;
	padding: 10px 20px 10px 20px;
	color: white;
	text-decoration: none;
	font-size: 1em;
}

a:hover {
	background-color: #b1744a;
}

/*media queries here*/


@media screen and (min-width: 300px){

.wrapper {
	width: 100%;
	margin: 0 auto;
	display: block;
	min-width: 270px;
	min-height: 270px;
	margin-top: 80px;
	position: fixed;
}

}

@media screen and (min-width: 500px){
	.wrapper{
		margin-top: 50px;
	}

	.first-name{
		font-size: 1.7em;
	}

	.last-name{
		font-size: 1.7em;
	}
}


@media screen and (min-width: 800px){
	.wrapper{
		margin-top: 20px;
	}

	.name {
		width: 49%;
		height: 400px;
	}

	.first-name{
		font-size: 1.8em;
		font-weight: 700;
	}

	.last-name{
		font-size: 1.8em;
		font-weight: 700;
	}

	footer {
		padding-top: 20px;
	}
}

@media screen and (min-width: 1000px){
	.wrapper{
		margin-top: 20px;
	}

	.name {
		width: 27%;
		height: 450px;
	}

	.first-name{
		font-size: 2.2em;
		font-weight: 700;
	}

	.last-name{
		font-size: 2.2em;
		font-weight: 700;
	}

	footer {
		padding-top: 10px;
	}
}


























